---
id: employment-verification
sidebar_position: 11
keywords: [go, golang, temporal, sdk, tutorial]
title: What does the Employment Verification Workflow Definition look like?
description: The Employment Verification Workflow sends email to a Researcher via an Activity Execution and waits on a Signal.
image: /img/temporal-logo-twitter-card.png
---

<!--SNIPSTART background-checks-employment-verification-workflow-definition-->
<!--SNIPEND-->

![Swim lane diagram of the Employment Verification Child Workflow Execution](images/employment-verification-flow.svg)
