---
id: employment-verification
sidebar_position: 11
title: What does the Employment Verification Workflow Definition look like?
sidebar_label: Employment Verification
description: The Employment Verification Workflow sends email to a Researcher via an Activity Execution and waits on a Signal.
---

<!--SNIPSTART background-checks-employment-verification-workflow-definition-->
<!--SNIPEND-->

![Swim lane diagram of the Employment Verification Child Workflow Execution](images/employment-verification-flow.svg)
